<div class="row justify-content-center mt-2" id="object-EnDe-page">
    <div class="col-md-11 config-box row">
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="obj-mode">Mode</label>
            <select class="form-select form-select-sm w-100 text-small" id="object-EnDe-mode">
                <option value="Encode" selected>Encode</option>
                <option value="Decode">Decode</option>
            </select>
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="obj-type">Type</label>
            <select class="form-select form-select-sm w-100 text-small" id="object-EnDe-type">
                <option value="PGPs" selected>PGPs</option>
                <option value="PGP">PGP</option>
                <option value="BASE64">BASE64</option>
                <option value="AES">AES</option>
            </select>
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="obj-sertificate">Sertificate</label>
            <input type="text" class="input-field" id="object-EnDe-sertificate">
        </div>
    </div>
</div>