<div class="row justify-content-center" id="object-switching-page">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="object-switching-switch-case">switch-case</label>
            <input type="text" class="input-field" id="object-switching-switch-case">
        </div>
        <div class="input-group mb-2">
            <label for="object-switching-if-else">if-else</label>
            <input type="text" class="input-field" id="object-switching-if-else">
        </div>
        <div class="input-group mb-2">
            <label for="object-switching-customization">customization</label>
            <input type="text" class="input-field" id="object-switching-customization">
        </div>
    </div>
</div>