<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="obj-mode">Mode</label>
            <select class="form-select form-select-sm w-100 text-small" id="obj-mode">
                <option value="Encode" selected>Encode</option>
                <option value="Decode">Decode</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label for="obj-type">Type</label>
            <select class="form-select form-select-sm w-100 text-small" id="obj-type">
                <option value="PGPs" selected>PGPs</option>
                <option value="PGP">PGP</option>
                <option value="BASE64">BASE64</option>
                <option value="AES">AES</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label for="obj-sertificate">Sertificate</label>
            <input type="text" class="input-field" id="obj-sertificate">
        </div>
    </div>
</div>