<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="obj-switching-switch-case">switch-case</label>
            <input type="text" class="input-field" id="obj-switching-switch-case">
        </div>
        <div class="input-group mb-2">
            <label for="obj-switching-if-else">if-else</label>
            <input type="text" class="input-field" id="obj-switching-if-else">
        </div>
        <div class="input-group mb-2">
            <label for="obj-switching-customization">customization</label>
            <input type="text" class="input-field" id="obj-switching-customization">
        </div>
    </div>
</div>