<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-mqtt-host">Host</label>
            <input type="text" class="input-field" id="rec-mqtt-host">
        </div>
        <div class="input-group mb-2">
            <label for="rec-mqtt-port">Port</label>
            <input type="number" class="input-field" id="rec-mqtt-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-mqtt-username">Username</label>
            <input type="text" class="input-field" id="rec-mqtt-username">
        </div>
        <div class="input-group mb-2">
            <label for="rec-mqtt-password">Password</label>
            <input type="text" class="input-field" id="rec-mqtt-password">
        </div>
        <div class="input-group mb-2">
            <label for="rec-mqtt-topic">Topic</label>
            <input type="text" class="input-field" id="rec-mqtt-topic">
        </div>
        <div class="input-group mb-2">
            <label for="rec-mqtt-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-mqtt-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-mqtt-retry">Retry</label>
            <input type="number" class="input-field" id="rec-mqtt-retry" value="3">
        </div>
    </div>
</div>