<div class="row justify-content-center mt-2" id="receiver-jdbc-page">
    <div class="col-md-11 config-box row">
        <div class="input-group mb-2 col-md-12 d-flex flex-column" id="properties-name">
            <label for="receiver-jdbc-name">Properties Name</label>
            <input type="text" class="input-field" id="receiver-jdbc-name">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-host">Host</label>
            <input type="text" class="input-field" id="receiver-jdbc-host">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-port">Port</label>
            <input type="number" class="input-field" id="receiver-jdbc-port">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-username">Username</label>
            <input type="text" class="input-field" id="receiver-jdbc-username">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-password">Password</label>
            <input type="text" class="input-field" id="receiver-jdbc-password">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-dbname">DBName</label>
            <input type="text" class="input-field" id="receiver-jdbc-dbname">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-dbtype">DBType</label>
            <input type="text" class="input-field" id="receiver-jdbc-dbtype">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-polling">Polling (second)</label>
            <input type="number" class="input-field" id="receiver-jdbc-polling">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="receiver-jdbc-retry">Retry</label>
            <input type="number" class="input-field" id="receiver-jdbc-retry">
        </div>
    </div>
</div>