<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-jdbc-host">Host</label>
            <input type="text" class="input-field" id="rec-jdbc-host">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-port">Port</label>
            <input type="number" class="input-field" id="rec-jdbc-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-username">Username</label>
            <input type="text" class="input-field" id="rec-jdbc-username">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-password">Password</label>
            <input type="text" class="input-field" id="rec-jdbc-password">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-dbname">DBName</label>
            <input type="text" class="input-field" id="rec-jdbc-dbname">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-dbtype">DBType</label>
            <input type="text" class="input-field" id="rec-jdbc-dbtype">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-jdbc-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-jdbc-retry">Retry</label>
            <input type="number" class="input-field" id="rec-jdbc-retry">
        </div>
    </div>
</div>