<div class="row justify-content-center" id="receiver-ftp-page">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-ftp-path">Path</label>
            <input type="text" class="input-field" id="rec-ftp-path">
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-ftp-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-retry">Retry</label>
            <input type="number" class="input-field" id="rec-ftp-retry" value="3">
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-ip">IP</label>
            <input type="text" class="input-field" id="rec-ftp-ip">
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-port">Port</label>
            <input type="number" class="input-field" id="rec-ftp-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-username">Username</label>
            <input type="text" class="input-field" id="rec-ftp-username">
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-password">Password</label>
            <input type="text" class="input-field" id="rec-ftp-password">
        </div>
        <div class="input-group form-check mb-2">
            <label for="rec-ftp-ssl">SSL (FTPS)</label>
            <!-- <input type="text" class="input-field" id="rec-ftp-ssl"> -->
            <input class="form-check-input" type="checkbox" id="rec-ftp-ssl" checked>
        </div>
        <div class="input-group form-check mb-2">
            <label for="rec-ftp-explicit">Explicit (FTPe)</label>
            <!-- <input type="text" class="input-field" id="rec-ftp-explicit"> -->
            <input class="form-check-input" type="checkbox" id="rec-ftp-explicit" checked>
        </div>
        <div class="input-group mb-2">
            <label for="rec-ftp-filename">Filename</label>
            <input type="text" class="input-field" id="rec-ftp-filename">
        </div>
    </div>
</div>