<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="input-name">Host</label>
            <input type="text" class="input-field" id="input-name">
        </div>
        <div class="input-group mb-2">
            <label for="input-state">Port</label>
            <input type="number" class="input-field" id="input-state">
        </div>
        <div class="input-group mb-2">
            <label for="input-state">Username</label>
            <input type="text" class="input-field" id="input-state">
        </div>
        <div class="input-group mb-2">
            <label for="input-state">Password</label>
            <input type="text" class="input-field" id="input-state">
        </div>
        <div class="input-group mb-2">
            <label for="input-name">StartTLS</label>
            <input type="text" class="input-field" id="input-name">
        </div>
        <div class="input-group mb-2">
            <label for="input-name">Protocol</label>
            <input type="text" class="input-field" id="input-name">
        </div>
        <div class="input-group mb-2">
            <label for="input-name">Polling (second)</label>
            <input type="number" class="input-field" id="input-name">
        </div>
        <div class="input-group mb-2">
            <label for="input-name">Retry</label>
            <input type="number" class="input-field" id="input-name">
        </div>
    </div>   
</div>