<div class="row justify-content-center" id="receiver-mqtt-page">
    <div class="col-md-11 config-box row">
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-host">Host</label>
            <input type="text" class="input-field" id="receiver-mqtt-host">
        </div>
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-port">Port</label>
            <input type="number" class="input-field" id="receiver-mqtt-port">
        </div>
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-username">Username</label>
            <input type="text" class="input-field" id="receiver-mqtt-username">
        </div>
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-password">Password</label>
            <input type="text" class="input-field" id="receiver-mqtt-password">
        </div>
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-topic">Topic</label>
            <input type="text" class="input-field" id="receiver-mqtt-topic">
        </div>
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-polling">Polling (second)</label>
            <input type="number" class="input-field" id="receiver-mqtt-polling">
        </div>
        <div class="input-group mb-2 col-md-6">
            <label for="receiver-mqtt-retry">Retry</label>
            <input type="number" class="input-field" id="receiver-mqtt-retry" value="3">
        </div>
    </div>
</div>