<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-smtp-host">Host</label>
            <input type="text" class="input-field" id="rec-smtp-host">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-port">Port</label>
            <input type="number" class="input-field" id="rec-smtp-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-username">Username</label>
            <input type="text" class="input-field" id="rec-smtp-username">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-password">Password</label>
            <input type="text" class="input-field" id="rec-smtp-password">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-starttls">StartTLS</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="rec-smtp-starttls" checked>
            </div>
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-protocol">Protocol</label>
            <select class="form-select form-select-sm w-100 text-small" id="rec-smtp-protocol">
                <option value="1" selected>IMAP4</option>
                <option value="2">POP3</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-smtp-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-retry">Retry</label>
            <input type="number" class="input-field" id="rec-smtp-retry" value="3">
        </div>
    </div>   
</div>