<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-sftp-path">Path</label>
            <input type="text" class="input-field" id="rec-sftp-path">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-sftp-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-retry">Retry</label>
            <input type="number" class="input-field" id="rec-sftp-retry">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-ip">IP</label>
            <input type="text" class="input-field" id="rec-sftp-ip">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-port">Port</label>
            <input type="number" class="input-field" id="rec-sftp-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-username">Username</label>
            <input type="text" class="input-field" id="rec-sftp-username">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-password">Password</label>
            <input type="text" class="input-field" id="rec-sftp-password">
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-mode">Mode</label>
            <select class="form-select form-select-sm w-100 text-small" id="rec-sftp-mode">
                <option value="sftp" selected>sftp</option>
                <option value="exec">exec</option>
                <option value="shell">shell</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label for="rec-sftp-filename">Filename</label>
            <input type="text" class="input-field" id="rec-sftp-filename">
        </div>
    </div>
</div>