<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-tcp-port">Port</label>
            <input type="number" class="input-field" id="rec-tcp-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-tcp-timeout">Timeout</label>
            <input type="number" class="input-field" id="rec-tcp-timeout">
        </div>
        <div class="input-group mb-2">
            <label for="rec-tcp-ip">IP</label>
            <input type="text" class="input-field" id="rec-tcp-ip">
        </div>
        <div class="input-group mb-2">
            <label for="rec-tcp-keepopen">KeepOpen</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="rec-tcp-keepopen" checked>
            </div>
        </div>
        <div class="input-group mb-2">
            <label for="rec-tcp-timewait">Timewait</label>
            <input type="number" class="input-field" id="rec-tcp-timewait">
        </div>
    </div>
</div>