<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-nfs-path">Path</label>
            <input type="text" class="input-field" id="rec-nfs-path">
        </div>
        <div class="input-group mb-2">
            <label for="rec-nfs-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-nfs-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-nfs-retry">Retry</label>
            <input type="number" class="input-field" id="rec-nfs-retry" value="3">
        </div>
        <div class="input-group mb-2">
            <label for="rec-nfs-filename">Filename</label>
            <input type="text" class="input-field" id="rec-nfs-filename">
        </div>
    </div>
</div>