<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="rec-smtp-host">Host</label>
            <input type="text" class="input-field" id="rec-smtp-host">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-port">Port</label>
            <input type="number" class="input-field" id="rec-smtp-port">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-username">Username</label>
            <input type="text" class="input-field" id="rec-smtp-username">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-password">Password</label>
            <input type="text" class="input-field" id="rec-smtp-password">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-starttls">StartTLS</label>
            <input type="text" class="input-field" id="rec-smtp-starttls">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-protocol">Protocol</label>
            <input type="text" class="input-field" id="rec-smtp-protocol">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-polling">Polling (second)</label>
            <input type="number" class="input-field" id="rec-smtp-polling">
        </div>
        <div class="input-group mb-2">
            <label for="rec-smtp-retry">Retry</label>
            <input type="number" class="input-field" id="rec-smtp-retry">
        </div>
    </div>   
</div>