<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-nfs-path">Path</label>
            <input type="text" class="input-field" id="sen-nfs-path">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sen-nfs-polling">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sen-nfs-retry">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-filename">Filename</label>
            <input type="text" class="input-field" id="sen-nfs-filename">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-fileEvent">FileEvent</label>
            <select class="form-select form-select-sm w-100 text-small" id="sen-nfs-fileEvent">
                <option value="1" selected>Remove</option>
                <option value="2">Move</option>
                <option value="3">Rename</option>
            </select>
        </div>
        <div class="input-group mb-2 d-none">
            <label for="sen-nfs-folderName">FolderName</label>
            <input type="text" class="input-field" id="sen-nfs-folderName">
        </div>
    </div>
</div>

<script>
    // fileEvent
    $('.form-select-sm').on('change', function() {
        if(this.value==2){
            $('#sen-nfs-folderName').parent().removeClass('d-none');
        } else {
            $('#sen-nfs-folderName').parent().addClass('d-none');
        }
    });
</script>