<div class="row justify-content-center" id="sender-tcp-page">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sender-tcp-port">Port</label>
            <input type="number" class="input-field" id="sender-tcp-port">
        </div>
        <div class="input-group mb-2">
            <label for="sender-tcp-name">Name</label>
            <input type="text" class="input-field" id="sender-tcp-name">
        </div>
        <div class="input-group mb-2">
            <label for="sender-tcp-thread">Thread</label>
            <input type="number" class="input-field" id="sender-tcp-thread">
        </div>
        <div class="input-group form-check mb-2">
            <label for="sender-tcp-keepopen">KeepOpen</label>
            <input class="form-check-input" type="checkbox" id="sender-tcp-keepopen" checked>
        </div>
        <div class="input-group mb-2">
            <label for="sender-tcp-wait">Wait</label>
            <input type="number" class="input-field" id="sender-tcp-wait">
        </div>
    </div>
</div>