<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-jdbc-host">Host</label>
            <input type="text" class="input-field" id="sen-jdbc-host">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-port">Port</label>
            <input type="number" class="input-field" id="sen-jdbc-port">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-username">Username</label>
            <input type="text" class="input-field" id="sen-jdbc-username">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-password">Password</label>
            <input type="text" class="input-field" id="sen-jdbc-password">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-dbname">DBName</label>
            <input type="text" class="input-field" id="sen-jdbc-dbname">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-dbtype">DBType</label>
            <select class="form-select form-select-sm w-100 text-small" id="sen-jdbc-dbtype">
                <option value="MYSQL" selected>MYSQL</option>
                <option value="MSSQL">MSSQL</option>
                <option value="ORACLE">ORACLE</option>
                <option value="POSTGRE">POSTGRE</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-query">Query</label>
            <input type="text" class="input-field" id="sen-jdbc-query">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sen-jdbc-polling">
        </div>
        <div class="input-group mb-2">
            <label for="sen-jdbc-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sen-jdbc-retry">
        </div>
    </div>
</div>