<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-mqtt-host">Host</label>
            <input type="text" class="input-field" id="sen-mqtt-host">
        </div>
        <div class="input-group mb-2">
            <label for="sen-mqtt-port">Port</label>
            <input type="number" class="input-field" id="sen-mqtt-port">
        </div>
        <div class="input-group mb-2">
            <label for="sen-mqtt-username">Username</label>
            <input type="text" class="input-field" id="sen-mqtt-username">
        </div>
        <div class="input-group mb-2">
            <label for="sen-mqtt-password">Password</label>
            <input type="text" class="input-field" id="sen-mqtt-password">
        </div>
        <div class="input-group mb-2">
            <label for="sen-mqtt-topic">Topic</label>
            <input type="text" class="input-field" id="sen-mqtt-topic">
        </div>
        <div class="input-group mb-2">
            <label for="sen-mqtt-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sen-mqtt-polling">
        </div>
        <div class="input-group mb-2">
            <label for="sen-mqtt-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sen-mqtt-retry">
        </div>
    </div>
</div>