<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-ftp-path">Path</label>
            <input type="text" class="input-field" id="sen-ftp-path">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sen-ftp-polling">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sen-ftp-retry">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-ip">IP</label>
            <input type="text" class="input-field" id="sen-ftp-ip">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-port">Port</label>
            <input type="number" class="input-field" id="sen-ftp-port">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-username">Username</label>
            <input type="text" class="input-field" id="sen-ftp-username">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-password">Password</label>
            <input type="text" class="input-field" id="sen-ftp-password">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-ssl">SSL (FTPS)</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="sen-ftp-ssl" checked>
            </div>
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-explicit">Explicit (FTPe)</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="sen-ftp-explicit" checked>
            </div>
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-filename">Filename</label>
            <input type="text" class="input-field" id="sen-ftp-filename">
        </div>
        <div class="input-group mb-2">
            <label for="sen-ftp-fileEvent">FileEvent</label>
            <select class="form-select form-select-sm w-100 text-small" id="sen-ftp-fileEvent">
                <option value="1" selected>Remove</option>
                <option value="2">Move</option>
                <option value="3">Rename</option>
            </select>
        </div>
        <div class="input-group mb-2 d-none">
            <label for="sen-ftp-folderName">FolderName</label>
            <input type="text" class="input-field" id="sen-ftp-folderName">
        </div>
    </div>
</div>

<script>
    // fileEvent
    $('.form-select-sm').on('change', function() {
        if(this.value==2){
            $('#sen-ftp-folderName').parent().removeClass('d-none');
        } else {
            $('#sen-ftp-folderName').parent().addClass('d-none');
        }
    });
</script>