<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-sftp-path">Path</label>
            <input type="text" class="input-field" id="sen-sftp-path">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sen-sftp-polling">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sen-sftp-retry">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-ip">IP</label>
            <input type="text" class="input-field" id="sen-sftp-ip">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-port">Port</label>
            <input type="number" class="input-field" id="sen-sftp-port">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-username">Username</label>
            <input type="text" class="input-field" id="sen-sftp-username">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-password">Password</label>
            <input type="text" class="input-field" id="sen-sftp-password">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-mode">Mode</label>
            <select class="form-select form-select-sm w-100 text-small" id="sen-sftp-mode">
                <option value="1" selected>sftp</option>
                <option value="2">exec</option>
                <option value="3">shell</option>
            </select>
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-filename">Filename</label>
            <input type="text" class="input-field" id="sen-sftp-filename">
        </div>
        <div class="input-group mb-2">
            <label for="sen-sftp-fileEvent">FileEvent</label>
            <select class="form-select form-select-sm w-100 text-small" id="sen-sftp-fileEvent">
                <option value="1" selected>Remove</option>
                <option value="2">Move</option>
                <option value="3">Rename</option>
            </select>
        </div>
        <div class="input-group mb-2 d-none">
            <label for="sen-sftp-folderName">FolderName</label>
            <input type="text" class="input-field" id="sen-sftp-folderName">
        </div>
    </div>
</div>

<script>
    // fileEvent
    $('.form-select-sm').on('change', function() {
        if(this.value==2){
            $('#sen-sftp-fileEvent').parent().removeClass('d-none');
        } else {
            $('#sen-sftp-fileEvent').parent().addClass('d-none');
        }
    });
</script>