<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-nfs-path">Path</label>
            <input type="text" class="input-field" id="sen-nfs-path">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sen-nfs-polling">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sen-nfs-retry">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-filename">Filename</label>
            <input type="text" class="input-field" id="sen-nfs-filename">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-fileEvent">FileEvent</label>
            <input type="number" class="input-field" id="sen-nfs-fileEvent">
        </div>
        <div class="input-group mb-2">
            <label for="sen-nfs-folderName">FolderName</label>
            <input type="text" class="input-field" id="sen-nfs-folderName">
        </div>
    </div>
</div>