<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-tcp-port">Port</label>
            <input type="number" class="input-field" id="sen-tcp-port">
        </div>
        <div class="input-group mb-2">
            <label for="sen-tcp-name">Name</label>
            <input type="text" class="input-field" id="sen-tcp-name">
        </div>
        <div class="input-group mb-2">
            <label for="sen-tcp-thread">Thread</label>
            <input type="number" class="input-field" id="sen-tcp-thread">
        </div>
        <div class="input-group mb-2">
            <label for="sen-tcp-keepopen">KeepOpen</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="sen-tcp-keepopen" checked>
            </div>
        </div>
        <div class="input-group mb-2">
            <label for="sen-tcp-wait">Wait</label>
            <input type="number" class="input-field" id="sen-tcp-wait">
        </div>
    </div>
</div>