<div class="row justify-content-center mt-2" id="sender-mqtt-page">
    <div class="col-md-11 config-box row">
        <div class="input-group mb-2 col-md-12 d-flex flex-column" id="properties-name">
            <label for="sender-mqtt-name">Properties Name</label>
            <input type="text" class="input-field" id="sender-mqtt-name">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-host">Host</label>
            <input type="text" class="input-field" id="sender-mqtt-host">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-port">Port</label>
            <input type="number" class="input-field" id="sender-mqtt-port">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-username">Username</label>
            <input type="text" class="input-field" id="sender-mqtt-username">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-password">Password</label>
            <input type="text" class="input-field" id="sender-mqtt-password">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-topic">Topic</label>
            <input type="text" class="input-field" id="sender-mqtt-topic">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-polling">Polling (second)</label>
            <input type="number" class="input-field" id="sender-mqtt-polling">
        </div>
        <div class="input-group mb-2 col-md-12 d-flex flex-column">
            <label for="sender-mqtt-retry">Retry (second)</label>
            <input type="number" class="input-field" id="sender-mqtt-retry">
        </div>
    </div>
</div>