<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="sen-rest-port">Port</label>
            <input type="number" class="input-field" id="sen-rest-port">
        </div>
        <div class="input-group mb-2">
            <label for="sen-rest-endpoint">Endpoint</label>
            <input type="text" class="input-field" id="sen-rest-endpoint">
        </div>
        <div class="input-group mb-2">
            <label for="sen-rest-thread">Thread</label>
            <input type="number" class="input-field" id="sen-rest-thread">
        </div>
        <div class="input-group mb-2">
            <label for="sen-rest-wait">Wait</label>
            <input type="number" class="input-field" id="sen-rest-wait">
        </div>
        <div class="input-group mb-2">
            <label for="sen-rest-header">HeaderAttribute</label>
            <input type="text" class="input-field" id="sen-rest-header">
        </div>
    </div>
</div>