<div class="row justify-content-center">
    <div class="col-md-10 config-box">
        <div class="input-group mb-2">
            <label for="input-name">Path</label>
            <input type="text" class="input-field" id="input-name">
        </div>
        <div class="input-group mb-2">
            <label for="input-state">Polling (second)</label>
            <input type="number" class="input-field" id="input-state">
        </div>
        <div class="input-group mb-2">
            <label for="input-state">Retry (second)</label>
            <input type="number" class="input-field" id="input-state">
        </div>
        <div class="input-group mb-2">
            <label for="input-state">Filename</label>
            <input type="text" class="input-field" id="input-state">
        </div>
        <div class="input-group mb-2">
            <label for="input-name">FileEvent</label>
            <input type="number" class="input-field" id="input-name">
        </div>
        <div class="input-group mb-2">
            <label for="input-name">FolderName</label>
            <input type="text" class="input-field" id="input-name">
        </div>
    </div>
</div>