/* Base Variable CSS */

@font-face {
    font-family: "PoppinsFont";
    src: url("../../font/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700; 
}

@font-face {
    font-family: "PoppinsFont";
    src: url("../../font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../../font/Quicksand/Quicksand-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../../font/Quicksand/Quicksand-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "QuicksandFont";
    src: url("../../font/Quicksand/Quicksand-Bold.ttf") format("truetype");
    font-weight: 700;
}

:root{
    --clr-black: #121212;
    --clr-primary: #c68d53;
    --clr-primary-hover:#e2b282;
    --clr-secondary:#F8F0C9;
    --clr-navbar-bg:#EAECF0;
    --clr-search-input: #f1f1f1;
    --clr-sidebar-bg:#f5f5f5;
    --clr-workspace-bg:#f9fafc;
    --clr-white:#fff;
    --clr-border:#959595;
    --clr-invalid:#C20909;
    --clr-valid:#4A934A;
    --clr-invalid-secondary:rgba(194, 9, 9, 0.66);
    --clr-valid-secondary:rgba(74, 147, 74, 0.66);
    --clr-btn-primary: #c68d53;
    --clr-menu-tab: linear-gradient(to bottom, #fff, #F0F2F4);
    --font-family: PoppinsFont;
    --font-family-2: QuicksandFont;
    --fw-regular: 400;
    --fw-bold:700;
    --fs-heading:16px;
    --fs-sub-heading:14px;
    --fs-body:12px;
}